.AddButton  /* Кнопка добавления */
{
                   font-weight : bold            ; 
              background-color : white           ; 
}
.CallBackButton  /* Кнопка "Обратная связь" */
{
              background-color : white           ; 
}
.DeleteButton  /* Кнопка удаления */
 {
                   font-weight : bold            ; 
                         color : red             ;
              background-color : white           ; 
}
.DetailsButton  /* Кнопка страницы подробностей */
{
                   font-weight : bold            ; 
              background-color : white           ; 
}
.GreenButton  /*Зеленая кнопка*/
 {
                         color : green           ;
              background-color : #BBFFBB         ; 
}   
.HelpButton  /* Кнопка "Помощь" */
{
              background-color : white           ; 
}
.InsertButton  /* Кнопка вставки */
 {
                   font-weight : bold            ; 
                         color : green           ;
              background-color : white           ; 
}
.UpButton  /* Кнопка вверх */
{
                   font-weight : bold            ; 
              background-color : white           ; 
}
